{% extends 'base.html.twig' %}

{% block title %}Artist{% endblock %}

{% block body %}
        <div class="shop_sidebar_area">

            <!-- ##### Single Widget ##### -->
            <div class="widget brands mb-50">
                <!-- Widget Title -->
                <h6 class="widget-title mb-30">Users</h6>
                <hr>
                <div class="row">
                    {% for user in users %}
                        <!-- Single User Area -->
                        <div class="col-12 col-sm-6 col-md-12 col-xl-6">

                            <div class="single-product-wrapper">
                                <!-- User Description -->
                                <div class="product-description d-flex align-items-center justify-content-between">
                                    <!-- user Meta Data -->
                                    <div class="product-meta-data">
                                        <div class="line"></div>
                                        <p class="product-price">{{user.email}}</p>
                                        <h6>{{user.nom}} {{ user.prenom }}</h6>
                                        <hr>
                                    </div>
                                </div>


                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endblock  %}

